{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <p></p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4" style="border:0px">
                    <img src="https://via.placeholder.com/200x150" alt="{{ product.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <span class="h5 mt-auto">{{ product.price }} $</span>
                            <a href="{{ path('product.detail', {id: product.id}) }}" class="btn btn-dark">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {# display navigation #}
    <div class="nav justify-content-center">
        {{ knp_pagination_render(products, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
</div>
{% endblock %}
